#id{
    text-align: justify;
    color: aqua;
}
h3{
    color: rgb(30, 145, 246)
    
    }
#text{
    font-style: inherit;
}
div{
    .pro{
        margin: 20px;
        background-color: aqua;
        
    }
}